<h1>Post a Review</h1>
<%= form_tag '/restaurants', method: :post do %>
<div class="form-group">
  <label for="exampleInputName">Review Title</label>
  <input type="text" name="form_name" class="form-control" id="exampleInputName" placeholder="Title">
</div>
<div class="form-group">
  <label for="exampleInputName">Review</label>
  <input type="text" name="form_name" class="form-control" id="exampleInputName" placeholder="Body">
</div>
<div class="form-group">
  <label for="exampleInputName"></label>
  <input type="text" name="form_name" class="form-control" id="exampleInputName" placeholder="Title">
</div>
<% end %> 